<Div class="container bg-white">
<div class="row justify-content-center">
    <title>Contacto</title>
    <table border="0" cellpadding="5" cellspacing="0" width="35%">
        <tr>
            <td colspan="2">
                <h3>Contact</h3>
                <p>Para contactarnos porfavor escribe tu E-mail y tu mensaje en las cajas de abajo!</p>
            </td>
        </tr>
        <tr>
            <td align="right">Your E-mail</td>
            <td><input type="email" name="email" size="40" placeholder="Your E-mail"></td>
            </tr>
        <tr>
            <td align="right">Your message</td>
            <td><textarea id="messageArea" name="message" rows="5" cols="43" placeholder="Your message"></textarea></td>
        </tr>
        <tr>
        <td></td>
            <td align="right"><input type="submit" value="Submit"></td>
        </tr>
    </table>
</Div>