<div class="container-fluid bg-white">
    <div class="row mb-5"></div>
    <div class="row mb-2"></div>
    <div class="row justify-content-center mb-5">
        <div class="col-4 " style="width: 400px; height: 400px; overflow: hidden;">
            <img class="rounded-circle" style="width: 100%; height: 100%; margin-right: 10%;" src='assets/img/2.jpg'>
        </div>
        <div class="col-7">
            <div style="display: flex; justify-content:left; gap: 10px;">
                <h1>The Second Heading</h1>
                <h1 style="color: grey;">Is Pretty Cool Too</h1>
            </div>
            <div style="display: flex; justify-content: center; padding-right: 10px;">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus minus pariatur iure, 
                    distinctio aspernatur voluptas amet molestias praesentium labore ad nostrum harum voluptatibus 
                    architecto et facilis non porro eaque rem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Temporibus minus pariatur iure, distinctio aspernatur voluptas amet molestias praesentium labore ad 
                    nostrum harum voluptatibus architecto et facilis non porro eaque rem.
                </p>
            </div>
        </div>
    </div>        
</div>